DV2-JuegoN1/JuegoN1RuizTorres/Library/

DV2-JuegoN1/JuegoN1RuizTorres/\.vs/

DV2-JuegoN1/JuegoN1RuizTorres/UnityPackageManager/

*.sln

*.csproj
JuegoN1RuizTorres/Library/

JuegoN1RuizTorres/\.vs/

JuegoN1RuizTorres/Temp/
